body {
  background-color: blue;
  font-size: 20px;
}

.hidden {
  background-color: blue;
}

#photo-template {
  background-color: blue;
}

section {
  display: inline-block;
  width: 300px;
  background-color: whitesmoke;
  margin: 5px;
}