body {
  background-color: lightblue;
  font-size: 20px;
}

.hidden {
  background-color: lightblue;
}

#photo-template {
  float: left;
  background-color: lightblue;
}

section {
  display: inline-block;
  position: inherit;
  width: 300px;
  background-color: whitesmoke;
  margin: 5px;
}