body {
  background-color: lightblue;
  font-size: 20px;
}

.hidden {
  background-color: lightblue;
}

#photo-template {
  float: left;
  background-color: lightblue;
}

section {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}