h1 {
  color: white;
  position: absolute;
  float: left;
  left: 25px;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 21px;
}

p {
  margin: 15px;
  text-align: center;
  overflow-wrap: normal;
  position: relative;
  font-size: 20px;
}

img {
  width: 250px;
  height: 175px;
}

footer {
  color: white;
  float: left;
}